.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  z-index: 30;
  max-width: 100%;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

.close {
  transition: 0.2s linear;
  width: 4rem;
  position: absolute;
  top: -3.5rem;
  right: -3.5rem;
  filter: invert(100%) sepia(11%) saturate(7422%) hue-rotate(182deg)
    brightness(124%) contrast(95%);
}

.close:hover {
  transform: translateY(-0.4em);
}

@media screen and (max-width: 1023px) {
  .close {
    transition: 0.2s linear;
    width: 2rem;
    position: absolute;
    top: -1.75rem;
    right: -1.75rem;
    filter: invert(100%) sepia(11%) saturate(7422%) hue-rotate(182deg)
      brightness(124%) contrast(95%);
  }
}
