.container {
  position: relative;
}

.background {
  top: -7%;
  width: 1.5rem;
  height: 107%;
  background-color: var(--heavy-1);
  position: absolute;
}

.wrapper {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.contacts {
  width: 70%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.formContainer {
  flex: 1;
}

.title {
  font-weight: 600;
  font-size: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.itemImage {
  width: 4rem;
}

.itemText {
  font-weight: 500;
  font-size: 2rem;
}

.linkContainer {
  display: flex;
  gap: 1rem;
}

.link {
  transition: 0.2s linear;
}

.link:hover,
.link:focus {
  opacity: 0.7;
  transform: translateY(-0.4em);
}

.description {
  width: 75%;
}

.heading {
  font-weight: 300;
  font-size: 1.5rem;
}

.accent {
  font-weight: 600;
}

.form {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.input {
  font-size: 1.5rem;
  padding: 0.5rem 0 0 0.5rem;
  width: 70%;
  height: 4rem;
  border: none;
  border-bottom: 1px solid var(--heavy-1);
  transition: 0.2s linear;
}

.input:focus {
  box-shadow: 0 0 10px 5px var(--heavy-1);
  outline: none;
}

.input::placeholder {
  font-size: 1.5rem;
  color: var(--heavy-1);
}

.textarea::placeholder {
  color: var(--heavy-1);
  font-size: 1.5rem;
}

.textarea {
  font-size: 1.5rem;
  margin-top: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0 0 0.5rem;
  width: 100%;
  border: 1px solid var(--heavy-1);
  resize: none;
  transition: 0.2s linear;
}

.textarea:focus {
  box-shadow: 0 0 10px 5px var(--heavy-1);
  outline: none;
}

.submitContainer {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.button {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  align-self: flex-start;
  color: white;
  background-color: var(--complementary-1);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s linear;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--complementary-1);
  transform: translateY(-0.4em);
}

.comment {
  width: 35%;
  font-size: 1rem;
  font-weight: 100;
}
