.container {
  position: relative;
}

.background {
  top: -9%;
  width: 3rem;
  height: 109%;
  background-color: var(--heavy-1);
  position: absolute;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.contacts {
  max-width: 80%;
  margin-left: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 36px;
}

.contactsWrapper {
  color: var(--heavy-1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.itemImage {
  width: 4rem;
  margin-right: 1rem;
}

.itemText {
  font-weight: 500;
  font-size: 2rem;
}

.linkContainer {
  max-width: 80%;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.link {
  transition: 0.2s linear;
}

.link:hover {
  opacity: 0.7;
  transform: translateY(-0.4em);
}

.description {
  width: 75%;
  margin-bottom: 1rem;
}

.heading {
  font-weight: 300;
  font-size: 1.5rem;
}

.accent {
  font-weight: 600;
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 0 0 0.5rem;
  width: 70%;
  height: 4rem;
  border: none;
  border-bottom: 2px solid var(--heavy-1);
  transition: 0.2s linear;
}

.input:focus {
  box-shadow: 0 0 10px 5px var(--heavy-1);
  outline: none;
}

.input::placeholder {
  font-size: 1.5rem;
  color: var(--heavy-1);
}

.textarea::placeholder {
  color: var(--heavy-1);
  font-size: 1.5rem;
}

.textarea {
  font-size: 1.5rem;
  margin-top: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0 0 0.5rem;
  width: 100%;
  border: 2px solid var(--heavy-1);
  resize: none;
  transition: 0.2s linear;
}

.textarea:focus {
  box-shadow: 0 0 10px 5px var(--heavy-1);
  outline: none;
}

.submitContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.button {
  margin-right: 2rem;
  box-sizing: border-box;
  max-width: 60%;
  font-size: 1.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  align-self: flex-start;
  color: white;
  background-color: var(--complementary-1);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s linear;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--complementary-1);
  transform: translateY(-0.4em);
}

.comment {
  color: red;
  width: 35%;
  font-size: 1rem;
  font-weight: 100;
}

.developerLink {
  margin-right: 20%;
  text-align: center;
  align-self: flex-end;
  max-width: 150px;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  animation: shadow-pulse 10s ease-in-out infinite;
  font-weight: 600;
  text-shadow: -0.1em 0.1em 0em #00e6e6, -0.2em 0.2em 0em #01cccc,
    -0.3em 0.3em 0em #00bdbd;
}

@keyframes shadow-pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.4;
  }
}

@media screen and (min-width: 2460px) {
  .title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .description {
    margin-bottom: 2rem;
  }
  .heading {
    font-size: 3rem;
  }
  .itemText {
    font-size: 3rem;
  }
  .itemImage {
    width: 8rem;
  }
  .input {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .textarea {
    font-size: 3rem;
  }
  .input::placeholder {
    font-size: 3rem;
  }
  .textarea::placeholder {
    font-size: 3rem;
  }
  .button {
    height: 8rem;
    border-radius: 1rem;
    font-size: 3rem;
  }
  .developerLink {
    font-size: 2rem;
    max-width: 300px;
  }
  .contacts {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1439px) {
  .infoItem {
    margin-bottom: 2rem;
  }

  .contacts {
    max-width: 90%;
    margin-bottom: 25px;
  }

  .form {
    max-width: 90%;
  }

  .background {
    top: -13%;
    height: 113%;
  }
  .developerLink {
    font-size: 0.7rem;
    max-width: 100px;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .description {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2rem;
    align-self: center;
    margin-bottom: 2rem;
  }
  .contacts {
    margin: 0 auto;
    max-width: 90%;
  }

  .formContainer {
    align-items: center;
    margin-top: 2rem;
    width: 100%;
  }

  .form {
    width: 90%;
  }

  .input {
    width: 100%;
  }

  .linkContainer {
    max-width: 100%;
    width: 100%;
  }

  .background {
    top: -10%;
    height: 110%;
    width: 1.5rem;
  }

  .button {
    margin-right: 1rem;
  }

  .submitContainer {
    justify-content: flex-start;
  }

  .info {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .submitContainer {
    flex-wrap: wrap;
  }

  .comment {
    width: 100%;
  }

  .itemText {
    font-size: 1.0rem;
  }
  .developerLink {
    bottom: 0.5rem;
    margin-right: 5%;
  }
}

@media screen and (max-width: 550px) {
  .background {
    display: none;
    width: 1rem;
    top: -3%;
    height: 103%;
  }

  .wrapper {
    padding: 2rem 2rem;
    flex-direction: column;
  }

  .description {
    display: none;
    width: 100%;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 2rem;
    align-self: center;
  }
  .contacts {
    margin: 0;
    max-width: 100%;
  }

  .contactsWrapper {
    align-items: center;
  }

  .formContainer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .textarea {
    margin-top: 3rem;
    font-size: 1rem;
  }

  .textarea::placeholder {
    font-size: 1rem;
  }

  .input {
    margin-bottom: 0;
    font-size: 1rem;
    width: 100%;
  }

  .input::placeholder {
    font-size: 1rem;
  }

  .linkContainer {
    max-width: 100%;
    width: 100%;
  }

  .button {
    font-size: 1rem;
    height: 3rem;
  }

  .info {
    justify-content: space-between;
    flex-direction: row;
  }

  .infoItem {
    margin-bottom: 1rem;
  }

  .itemImage {
    width: 2.5rem;
    margin-right: 1rem;
  }

  .itemText {
    font-size: 1.0rem;
  }
  .developerLink {
    font-size: 0.5rem;
    max-width: 70px;
    margin-right: 0;
  }
}
