.container {
  position: relative;
  height: 100vh;
}

.background {
  width: 1.5rem;
  height: 100%;
  background-color: var(--complementary-1);
  position: absolute;
}

.wrapper {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.contacts {
  flex: 1;
}

.formContainer {
  flex: 1;
}

.title {
  font-weight: 600;
  font-size: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.itemImage {
  width: 4rem;
}

.itemText {
  font-weight: 500;
  font-size: 2rem;
}

.linkContainer {
  display: flex;
  gap: 1rem;
}

.link {
  transition: 0.5s linear;
}

.link:hover {
  opacity: 0.7;
}

.description {

}

.heading {
  font-weight: 300;
  font-size: 2rem;
}

.accent {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.input {
  width: 50%;
  height: 4rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
}

textarea {
  width: 100%;
  font-size: 1rem;
}

button {
  border: none;
  padding: 1rem;
  align-self: flex-start;
  color: white;
  background-color: var(--complementary-1);
  font-weight: 500;
  cursor: pointer;
}
